{% extends 'base.html' %}
{% load i18n %}
{% block title %}Decide! - Welcome{% endblock %} 

{% block extrahead %}
    <!-- Agrega el enlace a Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Agrega estilos personalizados si los tienes -->
    
    <style>
        /* Estilos personalizados para la página de bienvenida */
        .welcome-container {
            text-align: center;
            margin-top: 50px;
        }

        .welcome-message {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .login-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .login-button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="welcome-container">
        <h1>{% trans 'Bienvenido a Decide' %}!</h1>
        <p class="welcome-message">¡{% trans 'Gracias por unirte a nuestra plataforma de votación electrónica' %}!</p>

        {% if user.is_authenticated %}
            <!-- Mostrar un mensaje cuando la sesión está iniciada -->
            <a href="{% url 'user_profile' %}" class="btn btn-primary login-button">{% trans 'Ir a tu Perfil' %}</a>
        {% else %}
            <!-- Enlace a Iniciar Sesión como botón -->
            <a href="{% url 'signin' %}" class="btn btn-primary login-button">{% trans 'Ir a Iniciar Sesión' %}</a>
        {% endif %}

        <br><br><button class="btn btn-primary login-button" onclick="window.location.href='/census/'">{% trans 'Ir a Censos' %}</button>
    </div>
{% endblock %}

